.traffic-light {
    background-color: black;
    padding: 10px;
    display: inline-block;
    margin: auto;
}
.light {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.red {
    background: rgb(241, 97, 97);
}
.yellow {
    background: rgb(185, 185, 74);
}
.green {
    background: rgb(98, 222, 98);
}
.red-on {
    background-color: red;
    box-shadow: 0px 0px 9px 4px #747de8;
}
.yellow-on {
    background-color: yellow;
    box-shadow: 0px 0px 9px 4px #747de8;
}
.green-on {
    background-color: green;
    box-shadow: 0px 0px 9px 4px #747de8;
}